<app-nav-bar *ngIf="authService.loggedIn() ; else elseBlock" class="navbar-vertical navbar-expand-md fixed-left"></app-nav-bar>
<div *ngIf="authService.loggedIn()" class="main-content">
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <span class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">{{pageName}}</span>

    </div>
  </nav>
  <div class="header pt-5"></div>
  <router-outlet style="display: none"></router-outlet>


</div>





<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>
